.next
node_modules
.env
.env.local
dist
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

*.tsbuildinfo
dev-server.log
dev-server.err.log
dev-server-3000.log
dev-server-3000.err.log