node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
ios/bundle/
ios/Podfile.lock
android/app/src/main/assets/
android/app/build/
android/app/debug.keystore
android/app/release.keystore
android/app/*.jks
android/app/*.p12
android/app/*.key
android/app/google-services.json
ios/GoogleService-Info.plist
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
